/*
-----------------------------------------------
ECIR 2011
Author:   Daragh Byrne
Version:  23rd Feb 2010
----------------------------------------------- */

body {
	margin: 0 auto;
  	padding: 0;
  	background: #040501;
    font-family: "Helvetic Neue", "HelveticNeue", "Helvetic-Neue", helvetica, arial,  _sans;
    font-size: 0.8em;
	text-align: center;
   	color: #111111;


}

.container_12{
    x-background-image: url("../../images/12_col.gif");
}

h1, h2, h3, h4, h5, h6{
	color: #333333;
	text-transform: uppercase;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 75%;
	
}

h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 180%;
	font-weight: bold;
	line-height: 140%;
	color: #52544F; 
	text-shadow: 0px 1px 1px #FFF;
	font-weight:bold;

	}


h2  {
	padding-bottom: 20px;
    border-bottom: 0px dotted #9096A2;
	margin: 0;
	font-size: 250%;
	line-height:140%;
	color: #444444; 
	text-shadow: 0px 1px 1px #FFF;
	font-weight:bold;
	
}


h3, h4,h5,h6 {
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 10px 0px;
	font-weight: bold;
	line-height:140%;
	color: #444444; 
	text-shadow: 0px 1px 1px #EEE;
	font-weight:bold;
	
}

h3
{
	font-size: 160%;	
}
h4{
	font-size: 120%;	
	
}
h5{
	font-size: 100%;	
	
}

p{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 15px 0px;
	font-size: 110%;
	font-weight: normal;
	line-height:1.65em;
	color: #444444; 
	text-shadow: 0px 1px 1px #DDDDDD;
	
}




a {
	x-color: #74822d;
	color: #666666;
	text-decoration: underline;

	
}

a:link { 
	color: #666666;
}

a:visited { 
	color: #666666; 
}
a:hover { 
	color: #fff; 
	background-color:#5d5d5d; 
}

/* Abbreviations */	
abbr { 
	border-bottom: 1px dotted #666666; 
	cursor: help; 
}

em{
	font-style:italic;
}

img{
		border: 10px solid #999;
	
}


/***************************************************
PAGE STYLES
***************************************************/

#wrapper	{
	border:collapse;
	margin: 0 auto;
	margin-bottom: 0px;
	padding: 0;
	padding-top: 0px;
	background: transparent ;
	border: 0;
	text-align: left;
	vertical-align: center;
  	background: #040501 url( '../../images/lightstream-green2.png') no-repeat top center;
    background-position: 50% 33px;
	height: 100%;

}



/***************************************************
LOGO STYLES
***************************************************/

h1 {
	margin: 0;
	padding: 0;
	font-size: 130%;
	font-weight: bold;
	line-height: 100%;
	}

h1#logoHolder span { display: none; }


h1#logoHolder {
    height: 163px; 
 	width: 363px;
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
	background-color: transparent;
}

h1#logoHolder a {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;

}
h1#logoHolder a:hover { 
	color: #fff; 
	background-color:transparent; 
    display: block;
    width: 100%;
    height: 100%;
    outline: none;

}


/***************************************************
CONTAINER STYLES
***************************************************/

.headerContainer{
	border-top: 10px solid #2c2c2b;
	border-left: 10px solid  #2c2c2b;
	border-right: 10px solid #2c2c2b;
	
	background-color: #b6b7ba;
	
	
}
	
.bodyContainer{
	border-bottom: 10px solid #2c2c2b;
	border-left: 10px solid  #2c2c2b;
	border-right: 10px solid #2c2c2b;
	
	background-color: #b6b7ba;	
	margin-top: 0px;
	background-image: url("../../images/content-area-shadow.png") ;
	background-repeat:repeat-x;

    x-background-image: url("../../images/12_col.gif");
	
	padding-top: 25px;
}
	
.mainContainer{
	border: 10px solid #2c2c2b;
	background-color: #b6b7ba;
	margin-top: 40px;	
	margin-bottom: 30px;		
}
	

/***************************************************
MAIN MENU STYLES
***************************************************/
#mainMenu{
	background-image: url("../../images/main-menu-background.png");
	height:62px;
	
}

#mainMenu ul.mainMenu{
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
	color: #afb1b3;
	font-weight:bold;

	padding-left: 10px;
	padding-right: 10px;

}


#mainMenu ul.mainMenu li {
	height: 62px;
    float:left;

    margin:0;
    padding:0;
}

#mainMenu ul.mainMenu a {
	height: auto;	
    display:block;
	margin:0px;
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 24px;
	padding-bottom: 20px;
	text-decoration: none;
	text-transform: uppercase;
    letter-spacing:0.01em;
	color: #afb1b3;

	text-shadow: 0px 1px 1px #222;
}

html>body ul.mainMenu li a {
	width: auto;
	}


#mainMenu li:hover {
    background:url("../../images/main-menu-selection-right1.png") no-repeat right top;
	color: #FFFFFF;
	text-shadow: 0px 1px 1px #000;

}

#mainMenu ul.mainMenu a:hover{
	background:url("../../images/main-menu-selection-left.png") no-repeat left top;	
	color: #d9d9d9;
	text-shadow: 0px 1px 1px #000;
	
}


#mainMenu li.selected,
body.welcome #mainMenu li.welcome,
body.home #mainMenu li.home,
body.welcome #mainMenu li.home,
body.news #mainMenu li.home,
body.attending #mainMenu li.attending,
body.authors #mainMenu li.authors,
body.submitting #mainMenu li.submitting,
body.program #mainMenu li.program,
body.organisation #mainMenu li.organisation,  
body.organisation #mainMenu li.organisation
 
{
    background:url("../../images/main-menu-selection-right1.png") no-repeat right top;
	color: #FFFFFF;
	text-shadow: 0px 1px 1px #000;

}

#mainMenu ul.mainMenu li.selected a,
body.welcome #mainMenu li.welcome a,
body.home #mainMenu li.home a,
body.welcome #mainMenu li.home a,
body.news #mainMenu li.home a,
body.attending #mainMenu li.attending a,
body.authors #mainMenu li.authors a,
body.submitting #mainMenu li.submitting a,
body.program #mainMenu li.program a,
body.organisation #mainMenu li.organisation a,  
body.organisation #mainMenu li.organisation a
{
	background:url("../../images/main-menu-selection-left.png") no-repeat left top;	
	color: #c9c9c9;
	text-shadow: 0px 1px 1px #000;

}

/***************************************************
SUB MENU STYLES
***************************************************/

#subMenu{
	background-image: url("../../images/sub-menu-background.png");
	height:58px;
	width: 100%;
	
	margin: 0 auto;
  	padding: 0;

	vertical-align: center;
	text-align: center;
	clear: both;
}

#subMenuWrapper
{
	width: auto;
	margin-left: auto ;
    margin-right: auto ;
	width: 960px;
	align: center; 
	vertical-align: center;
	text-align: center;	
}


#subMenu ul.subMenu{
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
	color: #f7fdce;
	font-weight:bold;
	
	padding-left: 10px;
	padding-right: 10px;
    
}

#subMenu ul.subMenu li {
	height: 58px;
    float:left;

    margin:0;
    padding:0;
}

#subMenu ul.subMenu a {
	height: auto;	
    display:block;
	margin:0px;
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 22px;
	padding-bottom: 20px;
	
	text-decoration: none;
	text-transform: uppercase;
    letter-spacing:0.01em;
	color: #f7fdce;
	text-shadow: 0px 1px 1px #829740;
}

html>body ul.subMenu li a {
	width: auto;
	}

#subMenu li:hover {
    background:url("../../images/sub-menu-selection-right1.png") no-repeat right top;
}

#subMenu ul.subMenu a:hover{
	background:url("../../images/sub-menu-selection-left.png") no-repeat left top;	
	color: #3e3e3e;
	text-shadow: 0px 1px 1px #e2e8c9;
	
}

#subMenu li.selected,
body.news #subMenu li.news
 {
    background:url("../../images/sub-menu-selection-right1.png") no-repeat right top;
}


#subMenu ul.subMenu li.selected a,
body.news #subMenu li.news a
{
	background:url("../../images/sub-menu-selection-left.png") no-repeat left top;	
	color: #3e3e3e;
	text-shadow: 0px 1px 1px #e2e8c9;

}


/***************************************************
TEXT CONTENT STYLES
***************************************************/

.textContent{
	
}
.textContentWrapper{	
	padding-left: 15px;
	padding-right: 15px;	
	margin-bottom: 40px;
	
}

.textContent h2{
	margin: 0px 0px 50px 0px;
	padding: 0px 30px 15px 0px;
}

.textContent li{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
	font-size: 110%;
	font-weight: normal;
	line-height:1.65em;
	color: #444444; 
	text-shadow: 0px 1px 1px #DDDDDD;
	
}

.textContent a
{
	color: #666666;

	x-color: #333333;
	text-decoration: underline;

	
}

.textContent a:hover { 
	color: #fff; 
	background-color:#666; 
	text-shadow: 0px 0px 0px #5d5d5d;
	
}

.textContent p{
	
	margin-bottom: 15px;
}


.textContent img{
	float:right;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 0px;
	
}


/***************************************************
SIDEBAR STYLES
***************************************************/

.sidebar{
	background:url("../../images/sidebar-background.png");	
	background-color: #FFF;
	margin-left: 0px;
	padding-top: 0px;
	padding-bottom: 10px;
	margin-bottom:20px;
	float:left;
	display:inline;float:left;position:relative;margin-left:10px;margin-right:10px;
	width:300px;
}

#importantDates h4, #twitterMessages h4, #flickrPhotoStream h4, #sponsorBody h4{
	font-size: 115%;	
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 10px 0px;
	font-weight: bold;
	line-height:140%;
	color: #3d3d3d; 
	text-shadow: 0px 1px 1px #FFF;
	font-weight:bold;
	
}

/***************************************************
IMPORTANT DATES STYLES
***************************************************/
#importantDates{
	border-bottom: ;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
	background: url("../../images/sidebar-separator.png") bottom left no-repeat;
}


#importantDates ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#importantDates ul li{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	clear:both;
}

#importantDates li span.datePart
{
	float: left;
	width: 100px;
	padding-top: 2px;
	color: #666;
	text-shadow: 0px 1px 1px #EEE;
	
	font-size: 80%;
}


#importantDates span.description
{
	width: auto;
	float:left;
	margin-bottom: 10px;
	text-shadow: 0px 1px 1px #EEE;
	color: #333;
	
}

#importantDates li.lapsed span.datePart
{
	color: #666;
	text-decoration: line-through;
	
}
#importantDates li.lapsed span.description
{
	color: #666;
	text-decoration: line-through;
	
}


/***************************************************
TWITTER MESSAGE STYLES
***************************************************/

#twitterMessages{
	border-bottom: ;
	padding-top: 15px;
	padding-bottom: 15px;
	background: url("../../images/sidebar-separator.png") bottom left no-repeat;
}

#twitterMessages h4{
	padding-left: 15px;
}

#twitterMessages h4 a{
	font-size: 100%;
	color: #333;
	text-decoration: none;


}

#twitterMessages h4 a:hover { 
	color: #eee; 
	background-color:#666; 
	text-shadow: 0px 0px 0px #666;
	text-decoration: underline;

}



#twitterMessages ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	
}

#twitterMessages ul li{
	list-style-type: none;
	width: 292px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	
	clear:both;
}

#twitterMessages ul li a{
	
}

#twitterMessages ul li a, #twitterMessages ul li a:link, #twitterMessages ul li a:visited{
	x-color: #74822d;
	color: #333333;
	text-decoration: underline;

	
}

#twitterMessages ul li a:hover { 
	color: #fff; 
	background-color:#000000; 
	text-shadow: 0px 0px 0px #5d5d5d;
	
}


#twitterMessages li span.twitterText
{
	float: left;
	width: 272px;
	text-shadow: 0px 1px 1px #EEE;
	color: #333;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0;	
	padding-bottom: 25px;
	background: url("../../images/twitter-hugger.png") bottom left no-repeat;
	
}


#twitterMessages span.twitterDate
{
	font-size: 80%;
	font-style: italic;
	width: 282px;
	float:left;	
	text-align: right;
	padding-right: 20px;
	margin-bottom: 20px;
	color: #666;
	text-shadow: 0px 1px 1px #EEE;
	
	
	
}


#twitterMessages p.twitterSmall
{
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-shadow: 0px 1px 1px #EEE;
	color: #666;
	font-size: 85%;
	text-decoration: none;
	
}

#twitterMessages p.twitterSmall a{
	font-size: 100%;
	color: #383838;
	text-decoration: underline;


}

#twitterMessages p.twitterSmall a:hover { 
	color: #ddd; 
	background-color:#333; 
	text-shadow: 0px 0px 0px #5d5d5d;

}


/***************************************************
TWITTER MESSAGE STYLES
***************************************************/

#flickrPhotoStream{
	border-bottom: ;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	x-background: url("../../images/sidebar-separator.png") bottom left no-repeat;
}

#flickrPhotoStream a{
	float:left;
	background:transparent;	
	margin-right: 15px;
	margin-bottom: 10px;
}

#flickrPhotoStream a img{
	border: 5px solid #999;
	
}
#flickrPhotoStream a:hover
{
	background:transparent;	
}

#flickrPhotoStream a:hover img{
	background:transparent;
	border: 5px solid #ddd;
	
}


/***************************************************
SPONSORS MESSAGE STYLES
***************************************************/

.sponsorsHeader{
	background-image: url("../../images/sub-menu-background.png");
	height:42px;
	border-bottom: 1px solid #555;
}

.sponsorsBody{
	background-color: #b6b7ba;	
	margin-top: 0px;
	background-image: url("../../images/content-area-shadow.png") ;
	background-repeat:repeat-x;

    x-background-image: url("../../images/12_col.gif");
	
	padding: 25px;
	padding-bottom:40px;
}

.sponsorsHeader h4 {
	height: auto;	
    display:block;
	margin:0px;
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 11px;
	padding-bottom: 10px;
	text-decoration: none;
	text-transform: uppercase;
    letter-spacing:0.01em;
	color: #f7fdce;
	text-shadow: 0px 1px 1px #829740;
}


#sponsors ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	clear: both;
}

#sponsors ul li{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	float: left;
}



#sponsors ul li a {
	height: auto;	
    display:block;
	margin:0px;
    padding-left: 0px;
	padding-right: 20px;
}

#sponsors ul li a {
	background: transparent;
}

html>body #sponsors ul li a {
	width: auto;
}

#sponsors ul li img {
    display:block;
	margin:0px;
    padding-left: 0px;
	padding-right: 20px;
	border: 0px;
}



/***************************************************
FOOTER STYLES
***************************************************/


#footer{
	background: #2c2c2b url("../../images/footer-background.png") ;
	background-repeat: repeat-x;
	border-top: 1px solid #222;
	
	width: 100%;
	margin: 0 auto;
  	padding: 0;
	vertical-align: center;
	text-align: center;
	clear: both;
}

#footerContent
{
	width: auto;
	margin-left: auto ;
    margin-right: auto ;
	width: 960px;
	
	align: center; 
	vertical-align: center;
	text-align: left;	
	margin-top: 30px;
}

h4#footerLogo span { display: none; }


h4#footerLogo {
    height: 163px; 
 	width: 363px;
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
	background-color: transparent;
}

h4#footerLogo a {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;

}
h4#footerLogo a:hover { 
	color: #fff; 
	background-color:transparent; 
    display: block;
    width: 100%;
    height: 100%;
    outline: none;

}

#footerContent h5 {
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 10px 0px;
	font-weight: bold;
	line-height:140%;
	color: #BBB; 
	text-shadow: 0px 1px 1px #111;
	font-weight:bold;
	text-transform: none;
	font-size: 110%;	
}

#footerContent ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
	color: #f7fdce;
	font-weight:normal;
	font-size: 85%;
}



#footerContent ul li {
    margin:0;
    padding:0;
	border-bottom: 1px dotted #444;
	padding-top: 2px;
	padding-bottom: 2px;	
}

#footerPagesMethods ul,
#footerContactMethods ul
{
	margin-bottom: 30px;
	text-shadow: 0px 1px 1px #111;
}

#footerPagesMethods ul a,
#footerContactMethods ul a
{
	margin-bottom: 40px;
	text-shadow: 0px 1px 1px #111;
	color: #999; 
	text-decoration: none;
}

#footerPagesMethods ul span,
#footerContactMethods ul span.label
{
	width: 60px;
	float: left;
	color: #666666; 	
}

#footerContactMethods p a {
	line-height:140%;
	color: #999; 
	text-shadow: 0px 1px 1px #111;
	font-weight:normal;
	text-transform: none;
	font-size: 85%;	
	
}


/***************************************************
ORGANISATION  STYLES
***************************************************/
#organisationList{
	padding-left: 0px;
	padding-top: 0px;

	list-style-type: none;
	padding: 0px;
	margin: 0px;

}

#organisationList li{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	padding-top: 10px;
		
	background-image: url( "../../images/content-separator.png") ;
	background-repeat: repeat-x;
}


#organisationList img{
	border: 3px solid #999;
	float: left;
	margin-right: 20px;
	padding: 0;
}

#organisationList h3, #organisationList h3 a{

	font-size: 115%;	
	margin: 0px 0px 5px 0px;
	padding: 20px 0px 0px 0px;

	font-weight: bold;
	line-height:100%;
	color: #3d3d3d; 
	text-shadow: 0px 1px 1px #FFF;
	font-weight:bold;
	text-decoration: none;

	
}

#organisationList h3 a:hover{
	background:transparent;
	color: #222; 
	text-shadow: 0px 1px 1px #FFF;
	text-decoration: underline;
	
}

#organisationList p, #organisationList p a{
	margin-bottom: 10px;
	text-shadow: 0px 1px 1px #EEE;
	color: #333;
	font-size: 100%;
	text-decoration: none;

}

#organisationList p a:hover{
	background:transparent;
	color: #222; 
	text-shadow: 0px 1px 1px #FFF;
	text-decoration: underline;

}





/***************************************************
NEWS  STYLES
***************************************************/
#newsList{
	padding-left: 0px;
	padding-top: 0px;

	list-style-type: none;
	padding: 0px;
	margin: 0px;

}

#newsList li{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	padding-top: 20px;
		
	background-image: url( "../../images/content-separator.png") ;
	background-repeat: repeat-x;
}


#newsList img{
	border: 7px solid #AAA;
	float: right;
	margin-right: 0px;
	margin-top: 0px;
	padding: 0;
}

#newsList h3, #newsList h3 a{

	font-size: 115%;	
	margin: 0px 0px 5px 0px;
	padding: 5px 0px 0px 0px;

	font-weight: bold;
	line-height:100%;
	color: #484848; 
	text-shadow: 0px 1px 1px #FFF;
	
}

#newsList h3 a:hover{
	background:none;
	color: #222; 
	text-shadow: 0px 1px 1px #FFF;
	text-decoration: underline;
	
}

h2.pageTitle{
	margin-bottom: 14px;
	padding-bottom: 0px;
}
p.newsDate
{
	margin: 0px;
	margin-bottom: 10px;
	text-shadow: 0px 1px 1px #EEE;
	color: #666;
	font-size: 95%;
	text-decoration: none;
	text-align: left;
	
}

#newsList p.newsDate
{
	margin-bottom: 0px;
	text-shadow: 0px 1px 1px #EEE;
	color: #666;
	font-size: 85%;
	text-decoration: none;
	
}


#newsList p{
	margin: 0px;
	margin-bottom: 10px;
	text-shadow: 0px 1px 1px #EEE;
	color: #333;
	font-size: 100%;
	text-decoration: none;

}

#newsList p a{
	font-size: 100%;
	
}


/***************************************************
SLIDESHOW  STYLES
***************************************************/

div#slideShowImageWrapper { 
	overflow: hidden; 
	width: 590px; 
	border: 5px solid #999;
	border-bottom: 0;
	}
div#slideShowImageWrapper  div#slideShowImageHolder { 
	width: 100000000px; }
div#slideShowImageWrapper  div#slideShowImageHolder div.slideshowImage { 
	float: left; width: 590px; }


/* Javascript-enabled styles */
body.js-enabled p#galleryCount, body.js-enabled div#galleryNavigation { display: block; }
body.js-enabled p#projectCount { display: none; }
body.js-enabled div.slideShowImage { display: none; }
body.js-enabled div.slideShowImage:first-child { display: block; }

div#slideShowImage { 
	padding: 0px 0px 0px 0px; 
	}
	
div#slideShowImage img { 
	margin: 0px 0px 0px;
	border: 0px;
	 }
	
.slideshowImage img{
	margin: 0px 0px 0px;
	border: 0px;
}
	
p#projectCount, p#galleryCount { margin: 2px 20px 0px 0px; }
p#galleryCount, div#galleryNavigation { display: none; }
p#galleryCount span { margin: -1px 0px 0px; display: block; }
div#galleryNavigation p{ 
	margin: 0px 0px 0px; padding: 0; font-size: 85%;
	}

div#galleryNavigation a{ 
		color: #333333;
		text-decoration: underline;


	}

div#galleryNavigation  a:hover { 
	color: #fff; 
	background-color:#000000; 
	text-shadow: 0px 0px 0px #5d5d5d;
}

div#galleryNavigation { 
	width: 590px; 

	border-left: 5px solid #999;
	border-right: 5px solid #999;
	border-bottom: 5px solid #999;
	background-color: #999;
	
	margin-bottom: 40px;
	padding: 0;
	padding-top: 5px;
}

#galleryNavPrevious
{
	width: 245px;
	margin-left: 5px;
	float:left;
}

#galleryCountDiv{
	text-align:center;
	width: 90px;
	float:left;
}

#galleryNavNext
{
	text-align:right;
	width: 245px;
	float:left;
}

#galleryEnd{
	clear: left;
}


.paper_session {
 font-family: arial, helvetica, sans-serif;
 font-size: 8pt;
 color: #606060;
 font-weight: bold;
 margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.topline_black {
 border-top-width:1px;
 border-top-style:solid;
 border-color:black;
}
.paper_author {
 font-family: arial, helvetica, sans-serif;
 font-size: 8pt;
 font-weight: bold;
 margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
		line-height:normal;
}
.paper_organisation {
 font-family: arial, helvetica, sans-serif;
 font-size: 8pt;
 margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
		line-height:normal;
}
.paper {
 font-family: arial, helvetica, sans-serif;
 font-size: 8pt;
 margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
		
}
.paper_title {
 font-family: arial, helvetica, sans-serif;
 font-weight: bold;
 font-size: 9pt;
 color: #903000;
 margin: 0px 0px 0px 0px;
 padding: 0px 0px 0px 0px;
 	line-height:normal;
/* margin-bottom: 1em; */
}
.fontbold {
 font-family: arial, helvetica, sans-serif;
 font-weight: bold;
}
.font14 { font-size: 14pt; }
.fake-link
{
	color:#666666;
	cursor:pointer;
}
.fake-link:hover{
	text-decoration:underline;
}
.listheader
{
	 color: #903000;
	text-size:14pt;
	font-weight:bold;
}

/* =========== ADDED BY RITESH **********/
.ul-plain{
  list-style:square inside none;
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 0px 10px;
}
.ul-plain li{
  margin-top:3px;
  padding:0px;
}